{
  "presets": [
    ["env", {
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-runtime",
    ["babel-plugin-inline-import", {
      "extensions": [
        ".graphql"
      ]
    }]
  ]
}
