{
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6
  },
  "plugins": [
    "vue"
  ],
  "rules": {
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "max-len": ["error", 180],
    "no-param-reassign": ["error", { "props": false }],
    "no-unused-vars": ["error", { "varsIgnorePattern": "ObjectAssign" }],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "vue/max-attributes-per-line": [2, {
      "singleline": 3,
      "multiline": {
        "max": 1,
        "allowFirstLine": false
      }
    }],
    "vue/html-closing-bracket-newline": ["error", { "multiline": "always" }]
  },
  "env": {
    "browser": true
  }
}
