{
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-primer",
    "stylelint-config-sass-guidelines"
  ],
  "rules": {
    "selector-max-id": null
  }
}
